.wp-block-button__link.has-icon {
	display: inline-flex;
	align-items: center;
	gap: 0.5em;
}

.wp-block-button__link .btn-icon {
	display: inline-flex;
	width: 1em;
	height: 1em;
}

.wp-block-button__link .btn-icon svg {
	width: 100%;
	height: 100%;
}